body {
    background-color: #f8f0f5; /* Warna latar belakang lembut */
    font-family: Arial, sans-serif;
   
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff; /* Warna latar belakang form */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    color: #d5006d; /* Warna judul */
    text-align: center;
}

form {
    background-color: #fff; /* Warna latar belakang form */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto; /* Membuat form berada di tengah */
  }
  
  form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  form li {
    margin: 15px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Warna teks label */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d5006d; /* Border berwarna pink */
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #ff4081; /* Warna border saat fokus */
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #d5006d; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #ff4081; /* Warna saat hover */
  }